body
{
    background:#224E9D;
}
#mapContainer
{
    position:absolute;
    top:10%;
    left:30%;
    width:40%;
    height:40%;
}
.wall
{
    background-color:#000000;
    width:10px;
    height:10px;
}
.floor
{
    background-color:#FFFFFF;
    width:10px;
    height:10px;
}