body
{
    background:#224E9D;
}
#mapContainer
{
    position:absolute;
    top:10%;
    left:10%;
    width:80%;
    height:70%;
}
.wall
{
    background-color:#000000;
    width:20px;
    height:20px;
}
.floor
{
    background-color:#FFFFFF;
    text-align:center;
    width:20px;
    height:20px;
}
.moveButtons
{
	position:absolute;
	width:25px;
	height:25px;
}
#up
{
	left:25px;
	bottom:50px;
}
#down
{
	left:25px;
	bottom:0px;
}
#left
{
	left:0px;
	bottom:25px;
}
#right
{
	left:50px;
	bottom:25px;
}

#startgame{
    position:absolute;
    top:30%;
    left:35%;
    width:30%;
    height:15%;
}

#option{
    position:absolute;
    top:70%;
    left:35%;
    width:30%;
    height:15%;
}

#continue{
    position:absolute;
    top:50%;
    left:35%;
    width:30%;
    height:15%;
}
#battleInterface
{
	position:absolute;
	width:97%;
	height:33%;
	bottom:0%;
}
