body
{
    background:#000000;
	
	background-repeat:no-repeat;
	background-size:100%;
}
#mapContainer
{
    position:absolute;
    top:1%;
    left:1%;
}
#display
{
    position:absolute;
    left:-2px;
    top:-2px;
}
.wall
{
    background-color:#000000;
    width:20px;
    height:20px;
}
.floor
{
    background-color:#FFFFFF;
    text-align:center;
    width:20px;
    height:20px;
}
.moveButtons
{
	position:absolute;
	width:35px;
	height:35px;
}
.puchaseButtons
{
    position:absolute;
    width:10%;
    height:5%;
}
#carrot
{
	height:10px;
	width:10px;
}
#up
{
	left:35px;
	bottom:70px;
}
#down
{
	left:35px;
	bottom:0px;
}
#left
{
	left:0px;
	bottom:35px;
}
#right
{
	left:70px;
	bottom:35px;
}

#startgame{
    position:absolute;
    top:30%;
    left:35%;
    width:30%;
    height:10%;
}

#option{
    position:absolute;
    top:60%;
    left:35%;
    width:30%;
    height:10%;
}

#continue{
    position:absolute;
    top:45%;
    left:35%;
    width:30%;
    height:10%;
}

#menuShop{
    position:absolute;
    top:75%;
    left:35%;
    width:30%;
    height:10%;
}

#battleInterface
{
	position:absolute;
	width:97%;
	height:33%;
	bottom:0%;
}

#back{
    position:absolute;
    top:80%;
    left:70%;
    width:30%;
    height:15%;
}
#shopButton
{
    position:absolute;
    top:95%;
    left:90%;
    width:10%;
    height:5%;
}
#backgroundContainer
{
	z-index:-10;
	position:absolute;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
}
#buymap
{
    top: 40%;
    left:5%;
}
#buybulldozer
{
    top:40%;
    left:20%;
}
#buymoreCarrot
{
    top: 60%;
    left:5%;
}
#buyfireCarrot
{
    top: 60%;
    left:20%;
}

#menuShopBackButton
{
    position:absolute;
    top: 95%;
    left:90%;
    width:10%;
    height:5%;
}
#shopBackDuringTheGame
{
    position:absolute;
    top: 95%;
    left:90%;
    width:10%;
    height:5%;
}